{% import '@scheduling/job/components/view/macros.html.twig' as jobMacros %}

{% if item.user is null and item.appKey is null and item.ticket.client is null %}
    {% set authorName %}{{ item.emailFromName|e('html') }} &lt;{{ item.emailFromAddress|e('html') }}&gt;{% endset %}
    {% set authorType = 'client' %}
{% elseif item.user is null and item.appKey is null %}
    {% set authorName %}{{ item.ticket.client.nameForView|e('html') }}{% endset %}
    {% set authorType = 'client' %}
{% elseif item.appKey %}
    {% set authorName %}
        {% if not item.appKey.deletedAt %}
            <a href="{{ path('app_key_show', { id: item.appKey.id }) }}">{{ item.appKey.name|e('html') }} ({% trans %}App key{% endtrans %})</a>
        {% else %}
            {{ item.appKey.name|e('html') }} ({% trans %}App key{% endtrans %})
        {% endif %}
    {% endset %}
    {% set authorType = 'admin' %}
{% elseif item.user is same as(app.user) %}
    {% set authorName %}{% trans %}You{% endtrans %}{% endset %}
    {% set authorType = 'you' %}
{% else %}
    {% set authorName %}{{ item.user.nameForView|e('html') }}{% endset %}
    {% set authorType = 'admin' %}
{% endif %}

<div class="ticket-system-message">
    <span class="icon ucrm-icon--calendar-check mr-5"></span>
    {% if item.assignedJob %}
        {% set jobName = item.assignedJob.title|e('html') %}
    {% else %}
        {% set jobName = '<em>(' ~ 'deleted'|trans ~ ')</em>' %}
    {% endif %}

    {% if item.type is same as(constant('TYPE_ADD', item)) %}
        {% trans with { '%user%': authorName, '%job%': jobName } %}%user% added job <strong>%job%</strong>.{% endtrans %}
    {% else %}
        {% trans with { '%user%': authorName, '%job%': jobName } %}%user% removed job <strong>%job%</strong>.{% endtrans %}
    {% endif %}
    <span class="ticket-dot"> • </span>
    <span class="ticket-system-message__time" data-tooltip="{{ item.createdAt|localizedDate('default', 'short') }}">{{ item.createdAt|localizedDateToday('none', 'short', 'default', 'none') }}</span>
</div>

{% if item.assignedJob and (ticketDetailJobWidgetVisibleIds[item.assignedJob.id] ?? null) is same as(item.id) %}
    {{ jobMacros.jobTicketWidget(item.assignedJob, item.ticket, authorType == 'you', path(ticketingRoutesMap.jobRemove, { ticketId: item.ticket.id, jobId: item.assignedJob.id, clientId: client.id ?? null })) }}
{% endif %}
